name: GitHub-Profile-Summary-Cards

on:
  schedule:
    # runs once every day at 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          BRANCH_NAME: "main"
          USERNAME: ${{ github.repository_owner }}
          UTC_OFFSET: 9
